* {
    margin: 0px;
    padding: 0px;

}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
}





#head {
    background-color: rgb(238, 238, 238);
    height: 90px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.logo-link {
    text-decoration: none;
}

.brand-logo {
    float: left;

    width: 70px;
    margin-left: 30px;
    margin-top: 10px;

}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;

    float: right;
}

.nav-links {
    padding: 30px;
    margin-right: 100px;
    display: flex;
}

.links {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.links:hover {
    background-color: orange;
    padding: 10px;
    width: 200px;
}


.menu-icon {
    display: none;
}


.order-button {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid orange;
    padding: 13px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.order-button:hover {
    color: orange;
}

.hero-img {
    float: right;
    width: 100%;
    height: 500px;

}


.hero {
    position: relative;
    height: 669px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;

    box-sizing: border-box;
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Images/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;

    transform: scale(1.1);
}


.hero-text {
    position: relative;
    z-index: 10;


    flex-wrap: wrap;


}


.heading {

    color: orange;
    font-size: 1em;
    word-spacing: 1px;
    letter-spacing: 1px;

    margin-bottom: 12px;
}

.head-text {
    color: white;
    font-size: clamp(2.2em, 5vw, 4em);
    margin-bottom: 1px;

}

.sub-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(0.3em, 5vw, 0.8em);
    margin-bottom: 18px;
}

.reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.reservation:hover {
    border: 2px solid black;
    color: black;
}



#chef-div {
    background-color: white;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.chef {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;

}


.chef-image {
    width: 350px;
}

.chef-image:hover {
    filter: brightness(80%);
}


.chefTitle {
    color: orange;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1em, 5vw, 1.5em);

    margin-bottom: 5px;
}

.chefText {
    color: black;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.4em, 5vw, 3.5em);
    margin-bottom: 10px;

}

.chefSubText {
    color: black;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 1px;


    margin-bottom: 20px;

    flex-wrap: wrap;

}


.icon-first {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

.icon-second {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.span {
    display: block;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;

    font-size: clamp(30px, 5vw, 40px);
}


#thirdLayer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 750px;
    padding-top: 60px;
}

.menu {
    text-align: center;
    color: orange;

    font-size: clamp(0.5em, 5vw, 1em);
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 1px;

    margin-bottom: 15px;
}

.trendy {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 450;
    font-style: normal;
    font-size: clamp(1em, 5vw, 2.5em);
    color: black;

    margin-bottom: 35px;
}

.meals-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}



.meals {
    color: black;
    padding: 5px;

    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: clamp(12px, 5vw, 18px);

}

.meals:hover {
    background-color: orangered;
    color: white;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
}

.image-container {
    margin: 30px auto;
    width: 80%;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.first-image {
    width: 30%;
    height: 400px;
    object-fit: cover;
}

.second-image {
    width: 20%;
    height: 400px;
    object-fit: cover;
}

.third-image {
    width: 30%;
    height: 400px;
    object-fit: cover;
}

.first-image:hover,
.second-image:hover,
.third-image:hover {
    filter: brightness(80%);
}

.about-section {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;

    padding: 80px;
    box-sizing: border-box;
}

.about-img {
    width: 420px;
    box-sizing: border-box;
}

.about-img:hover {
    filter: brightness(80%);
}

.about-head {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: clamp(10px, 5vw, 15px);
    letter-spacing: 1px;
    color: orange;
    margin-top: 70px;
}

.about-topic {
    margin-top: 20px;

    font-weight: 550;
    font-style: normal;
    font-size: clamp(2em, 5vw, 3em);
    flex-wrap: wrap;

}

.about-subText {
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;


    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    flex-wrap: wrap;
}

.learn-more {
    margin-top: 20px;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;

    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px 7px;

}

.learn-more:hover {
    color: orange;
}





body {
    background: #f5f5f5;
}


.booking-section {
    padding: 80px 20px;
    text-align: center;
    background: #f9f9f9;
}

.sub-title {
    color: #ff6a00;
    font-size: 14px;
    margin-bottom: 10px;
}

.booking-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}


.booking-box {
    background: #ffffff;
    padding: 25px;
    max-width: 900px;
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.input-box {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 14px;
    border-radius: 6px;
    width: 160px;
    gap: 10px;
}

.input-box i {
    color: #999;
}

.input-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
}


.dropdown {
    position: relative;
    width: 160px;
}

.dropdown-header {
    background: #f1f1f1;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-text i {
    color: #999;
}

.arrow {
    font-size: 12px;
    color: #999;
}


.dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    z-index: 10;
}

.dropdown-list li {
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-list li:hover {
    background: #ff6a00;
    color: white;
}


.book-btn {
    padding: 14px 30px;
    background: #ff6a00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.book-btn:hover {
    background: #e65c00;
}



body {
    background: #fff;
}

.services {
    text-align: center;
    padding: 80px 20px;
}

.small-title {
    color: orange;
    font-size: 14px;
    margin-bottom: 8px;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 60px;
    color: #222;
}


.services-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}


.service-card {
    width: 280px;
    padding: 40px 25px;
    border-radius: 14px;
    background: #fff;
    transition: all 0.35s ease;
    cursor: pointer;
}


.service-icon {
    font-size: 42px;
    color: #222;
    transition: all 0.35s ease;
}

.service-card h3 {
    margin: 20px 0 15px;
    color: #222;
}

.service-card p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}


.service-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);
}

.service-card:hover .service-icon {
    color: orange;
    transform: scale(1.15);
}

.service-card.active {
    transform: translateY(-12px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.12);
}

.service-card.active .service-icon {
    color: orange;
}



.footer * {
    box-sizing: border-box;
}


.footer {
    width: 100%;
    background-image: url("chicken-skewers-with-slices-sweet-peppers-dill.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("chicken-skewers-with-slices-sweet-peppers-dill.jpg");
}


.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px 30px;
    color: #ffffff;
}


.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}


.footer-col h4 {
    font-size: 16px;
    margin-bottom: 18px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #bdbdbd;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ff7a00;
}


.footer-brand img {
    width: 150px;
}


.instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    gap: 10px;
}

.instagram-grid img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.instagram-grid img:hover {
    transform: scale(1.08);
}


.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom p {
    font-size: 13px;
    color: #aaaaaa;
}


.footer-socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-socials span {
    font-size: 13px;
}

.footer-socials a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #ff7a00;
}


@media (max-width: 992px) {
    .footer-top {
        grid-template-columns: repeat(2, 1fr);
    }
}













@media (max-width: 860px) {

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
        width: 200px;
        padding: 20px;
        margin-right: 0;
        flex-direction: column;
        gap: 20px;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }


    .nav-links.active {
        display: flex;
    }

    ul {
        flex-direction: column;
        gap: 20px;
    }


    .menu-icon {
        float: right;
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin: 20px;
    }

    .order-button {
        text-decoration: none;
        color: orange;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        border: none;
    }


    .order-button:hover {
        background-color: orange;
        padding: 10px;
        width: 200px;
        color: black;
    }


    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #chef-div {
        background-color: white;
        width: 100%;
        height: 900px;
        box-sizing: border-box;
    }

    .chef {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .chef-image {
        width: 250px;
    }



    .icons-text {
        text-align: left;
    }

    .icon-first {
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .meals-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .meals {
        text-align: center;
    }

    #thirdLayer {
        height: 800px;
    }

    .image-container {
        height: 300px;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .about-img {
        width: 200px;
    }

    .about-head {
        margin-top: 15px;
    }

    .about-text {
        text-align: center;
    }


    .booking-box {
        flex-direction: column;
    }

    .dropdown,
    .input-box,
    .book-btn {
        width: 100%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 100%;
        max-width: 350px;
    }


    .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .instagram-grid {
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

}